@import './index.css';

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.hostel-button{
    border:none;
    border-radius: 50%;
    background: #F4A26195;
    color: #264653;
    padding:10px;
}

.hostel-button:active{
    background: #F4A26169;

}

.search-bar{
    background: #F4A26169;
    border:none;
    padding-left: 1rem;
    font-size: 1rem;
    font-family: 'Poppins-SemiBold';
    outline: none;
    border-radius: 1.25rem 0rem 0rem 1.25rem ;
    flex-grow: 2;
    height: 2.5rem;
    width: 100%;
}

.search-button{
    border:none;
 border-radius: 0% 2rem 2rem 0%;
  padding: 0px 10px 0px 10px;
  background: #F4A26195;
  color: #264653;
}

.search-button:active{
    background: #F4A26169;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.hostel-form {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #264653;
    background-color: white;
  font-family: 'Poppins-Medium';
  font-size: 1.5em;
  border-radius: 20px;
  padding: 1rem;
  text-align: left;
  width: 32vw;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 16vw);
}

.hostel-form-input{

    border: none;
    background-color:#F4A26169;
    border-radius: 20px;
    padding-left:20px;
    outline: none;
    margin-left: 5%;
    font-family: 'Poppins-Light';
    float:right;
    font-size: 0.7em;
    }

    .submit-button{
        border: 2px solid;
        border-color:#E76F51;
        background-color: #E76F51;
        color: #264653;
        font-family: 'Poppins-Medium';
        font-size: 0.75em;
        padding: 5px;
        border-radius: 30px;
        margin:0px 20px;
    }
    
    .cancel-button{
        border: 2px solid;
        border-color: #264653;
        color: #264653;
        background: none;
        font-family: 'Poppins-Medium';
        font-size: 0.75em;
        padding: 5px;
        border-radius: 30px;
    }