@import url(./index.css);

.card{
    font-family:'Poppins-SemiBold';
    width:400px;
    height: 300px;
    border-radius: 30px;
    background:white;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 29px 0px;
    color:#264653;
    padding: 15px;
    box-sizing: border-box;
    z-index: 11;
    font-family:"Poppins-Semibold";
}

.link{
    color: #264653;
    text-decoration: none;
}